name: Deploy to Coolify

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Coolify Deploy
        run: >
          curl -X POST
          -H "Authorization: Bearer 4|caV0qY1gYx1CtzSl4q5XdEYgycG1uZOFmSSdpUwI3d56195e"
          -H "Content-Type: application/json"
          -d '{"uuid":"ekks8w8k8o4os8gskcoskog8"}'
          https://coolify.raishannan.com/api/v1/deploy
